<!DOCTYPE html>
<html>
  <head>
    <title>edit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= title %></h1>
      <pre>Edit area.</pre>
      <a href=''></a>
    <p>Welcome to <%= title %></p>
  </body>
</html>
