<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
   <title>ccnote</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href='/stylesheets/editor.css' />
   <script type='text/javascript' src='javascripts/jequery.min.js'></script>
   <script type="text/javascript" src="javascripts/editor.js"></script>
   <script type="text/javascript" src="javascripts/marked.js"></script>
   <script src='/socket.io/socket.io.js'></script>
  </head>
  <body>
  <div id="head">
    <h1>CCNote</h1>
    <ul>
        <li class="head-li"><button id="new-button" class="btn btn-embossed btn-primary">新建</button></li>
        <li class="head-li"><button id="list-button" class="btn btn-embossed btn-primary"><a href="/list">列表</a></button></li>
        <li class="head-li"><button id="settings-button" class="btn btn-embossed btn-primary">设置</button></li>
    </ul>
  </div>

  <div id="body">
      <div id="content"><% include note_content %></div>
  </div>
  </body>
   <script src='javascripts/note.js'></script>
</html>
