<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
   <title>ccnote</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href='/stylesheets/editor.css' />
   <script type='text/javascript' src='javascripts/jequery.min.js'></script>
   <script type="text/javascript" src="javascripts/editor.js"></script>
   <script type="text/javascript" src="javascripts/marked.js"></script>
   <script src='/socket.io/socket.io.js'></script>
  </head>
  <body>
  <div id="head">
    <h1>CCNote</h1>
    <h5>当前用户: <%= user %></h5>
    <input type="hidden" id="username" value="<%= user %>"/>
    <ul>
        <li class="head-li"><button id="new-button" class="btn btn-embossed btn-primary">新建</button></li>
        <li class="head-li"><button id="list-button" class="btn btn-embossed btn-primary">列表</button></li>
        <li class="head-li"><button id="settings-button" onclick="location.href='/logout'" class="btn btn-embossed btn-primary">注销</button></li>
    </ul>
  </div>

  <div id="body">
      <div class='note-list'>
      <h2 class="note-item">笔记列表</h2>
     <% notes.forEach(function(note){ %>
     <% include note_item %>
     <hr>
     <% }) %>
      </div>
      <div id="content"><% include note_content %></div>
  </div>
  </body>
   <script src='javascripts/note.js'></script>
</html>
