<!DOCTYPE html>
<html>
  <head>
   <title>ccnote</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src='/socket.io/socket.io.js'></script>
   <script src='javascripts/note.js'></script>
   <script type='text/javascript' src='javascripts/jequery.min.js'></script>
  </head>
  <body>
      <div class='note-list'>
      <%include  note_item.ejs%>
      </div>
  </body>
</html>
