<!DOCTYPE html>
<html>
  <head>
   <title>ccnote</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src='/socket.io/socket.io.js'></script>
   <script src='javascripts/note.js'></script>
   <script type='text/javascript' src='javascripts/jequery.min.js'></script>
  </head>
  <body>
  		<a href="create"></a>
      <div class='note-list'>
      <h1>Note List</h1>
     <% notes.forEach(function(note){ %>
     <% include note_item %>
     <% }) %>
      </div>
  </body>
</html>
