<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>ccnote</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src='/socket.io/socket.io.js'></script>
   <script src='javascripts/note.js'></script>
   <script type='text/javascript' src='javascripts/jequery.min.js'></script>
  </head>
  <body>
  		<div id="main">
      <form class="login-form" method="post" action="/list">
          <div> 
              <div class="login-item">
                  <h3>Nickname:</h3>
              </div> 
              <div>
                  <input class="form-control input-sm" type="text" name="user[name]"></input>
              </div>
              <br>
              <div class="login-item">
                  <h3>Password:</h3>
                  </div> 
              <div><input class="form-control input-sm" type="password" name="user[password]"></input></div>
          </div>
        <input id="login-btn" class="btn btn-embossed btn-primary" type="submit" value="login">
        <input id="login-btn" class="btn btn-embossed btn-primary" type="submit" value="register">
      </div>
  </body>
</html>
