<div class="note-content">
    <input id="note-title" class="form-control input-sm" type="text" name="user[name]" value="Title"></input>
    <input id="save" type="button" class="btn btn-embossed btn-primary" value="save"></input>
    <input id="delete" type="button" class="btn btn-embossed btn-primary" value="delete"></input>
    <textarea class="note-editor form-control input-sm">
        This is the first note that I make.
    </textarea>
</div>
