<div class="note-content">
    <input id="note-title" class="form-control input-sm" type="text" name="user[name]" value="Title"></input>
    <textarea class="note-editor form-control input-sm">
        This is the first note that I make.
    </textarea>
</div>
