<div class="note-content">
    <input id="note-id" type="hidden" value=-1></input>
    <input id="note-title" class="form-control input-sm" type="text" placeholder="标题"></input>
    <input id="save" type="button" class="btn btn-embossed btn-primary" value="保存"></input>
    <input id="delete" type="button" class="btn btn-embossed btn-primary" value="删除"></input>
    <input id="delete" type="button" class="btn btn-embossed btn-primary shared-btn" value="分享"></input>
    <div class="note-editor">
        <textarea id="note-content"></textarea>
    </div>
</div>
